body{
   font-family : Arial , sans-serif;
   font-weight: bold;
   margin: 0 ;
   display: flex;
   flex-direction: column;
   align-items: center;
}
h1{
  font-size: 3.5rem;
   color:rgb(71, 49, 92)   
}
.container{
  margin-bottom: 30px;

}
.container button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px ;
    border-radius: 250px;
    background-color: rgb(17, 175, 223);
    cursor:pointer;
    transition: background-color 0.5s ease;
}
.container button:hover{
    background-color: rgb(255, 17, 0);
}
#player , #computer{
    font-size: 2.5rem;
}
#result{
    font-size: 4.5rem;
    color: brown;
}